{% extends 'base.html' %}
{% block title %}准备中...{% endblock %}
{% block description %}deliverkindle.org，请先注册一个账号，以便使用更多我们提供的服务{% endblock %}
{% block main %}
<style>
p{margin:15px 0 0 20px;font-size:16px;}
ul{list-style:none;margin:10px 0 0 20px;padding:0;}
ul li{border-left:4px solid #ff4500;padding:0 0 0 4px;;margin:8px 10px 0 0;float:left;font-size:14px;height:14px;line-height:14px;}
</style>    
    <h1 style="font-size:36px;font-weight:normal;">准备中...</h1>
    <p>网站正处于内测阶段，暂不开放注册。<br/>你可以通过以下方式联系我们，以便得到内测邀请</p>
    <ul>
        <li><a href="http://weibo.com/tyminiblog2010">@新浪微博</a></li>
        <li><a href="http://www.douban.com/people/T-y/">@豆瓣</a> </li>
        <li><a href="https://twitter.com/tianyu0915">@Twitter</a> </li>
    </ul>
{% endblock %}
