{% extends 'base.html' %}
{% block title %}成员{% endblock %}
{% block description %}浏览查看所有在deliverkindle.com注册的账号{% endblock %}
{% block main %}
{% load accounts_tags %}
    <h1>所有Readream</h1>
    <ul class="friend">
    {% for entry in entrys.object_list %}
        <li>
            <a href="/home/{{ entry.id }}/"
               title="{{ entry.get_profile.screen_name }}{% if entry.email == 'user@weibo.com' %}(新浪用户){% endif %}">
                <img src="{{ entry.username|gravatar_url }}">
                <em>{{ entry.get_profile.screen_name|slice:"5" }}</em>
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class='clear'></div>
    <p>{% include 'paginator.inc.html' %}</p>
{% endblock %}
{% block sidebar %}
<ul>
    <h2>海内存Pythoner，天涯也比邻</h2>
    <li>共有<span class="red">{{ entrys.paginator.count }}</span>个Pythoner。你也想要成为我们的一员么？</li>
    <li>不要999,也不要99.9,只要分分钟，<a href="/accounts/register/"><span class="red">注册一个账号</span></a></li>
</ul>

{% endblock %}
