    <div class="clear">&nbsp;</div>
    <div id="footer">
    	<div class="info">
            <div class="links">
                <a href="/about/">关于小站</a> |
                <a href="/disclaimer/">免责声明 </a> |
                <a href="/partner/">合作伙伴</a> |
                <a href="/contact/">联系信息</a> 
            </div>
        </div>
        <div class="copyright">COPYRIGHT © 2013 DELIVERKINDLE.COM POWERED BY DELIVERKINDLE</div>
    </div>
</div><!-- #wrapper -->
</body><!-- end transmission -->
</html>
