{% extends "home_base.html" %}
{% block title %}{{ user.get_profile.screen_name }}的代码{% endblock %}
{% block keyworld %}{{ user.get_profile.screen_name }},python代码,python源码,python代码分享{% endblock %}
{% block description %}{{ user.get_profile.screen_name }}在pythoner.org分享的所有代码{% endblock %}
{% block h1 %}{{ user.get_profile.screen_name }}的代码{% endblock %}
{% block main %}
{% load comments %}
{% load home_tags %}
<ul id="code-list" class="list">
	{% if request.user == user %}<div class="action"><a href="/code/add/">+ 分享代码</a> </div>{% endif %}
    {% for entry in entrys.object_list %}
        {% get_comment_count for code.base entry.id as comment_count %}
        <li>
            <span>[{{ entry.category }}]</span>
            <a href="{{ entry.get_absolute_url }}" title="{{ entry.description|slice:"50" }}" class="title">
                {{ entry.title }}
            </a>
            <span class="time">发表于{{ entry.sub_time|how_long }}</span>
            <span class="count">{{ comment_count }}评 {{ entry.click_times }}阅</span>
            <div class="clear"></div>
        </li>
    {% empty %}
        <li class="none-entry">没有找到可显示的记录</li>
    {% endfor %}
    <div class="more">{% include 'paginator.inc.html' %}</div>
    <div class="clear"></div>
</ul>
{% endblock %}
{% block sidebar %}
{% endblock %}