{% extends "base.html" %}
{% load home_tags %}
{% load accounts_tags %}
{% block home_title %}
        <div id="head-title" class="home">
            <div class="author">
                <a href="/home/{{ user.id }}/">
                    <img src="{{ user.username|gravatar_url:"40" }}">
                </a>
            </div>
            <h1>{% block h1 %}{% endblock %}</h1>
            <div class="meta">
                <strong>永久链接:</strong><a href="/home/{{ user.id }}">http://www.deliverkindle.com/home/{{ user.id }}/</a>
            </div>
            <div class="clear">&nbsp;</div>
        </div><!-- end title -->
    {% block home_tabs %}
    <div class="tabs">
       <!-- <span class="tab {% if current_page == 'develop' %}selected{% endif %}">
             <a href="/home/{{ user.id }}/">我的书架</a></span> -->
        <span class="tab {% if current_page == 'bookshelf' %}selected{% endif %}">
            <a href="/home/bookshelf/">我的书架</a></span>
        <span class="tab {% if current_page == 'download' %}selected{% endif %}">
            <a href="/home/download/">我的下载</a></span>
        <span class="tab {% if current_page == 'user_topic' %}selected{% endif %}">
            <a href="/home/{{ user.id }}/topic/">我的讨论</a></span>
    </div>
    {% endblock %}
{% endblock %}
