<div class="tabs">
    <span class="tab {% if current_page == 'profile-edit' %}selected{% endif %}">
        <a href="/home/edit/">信息</a></span>
   <!--  <span class="tab {% if current_page == 'profile-link' %}selected{% endif %}">
        <a href="/home/link/">链接</a></span> -->
    <!--
    <span class="tab {% if current_page == 'profile-photo' %}selected{% endif %}">
        <a href="/home/photo/">头像</a></span>
    -->
    <span class="tab {% if current_page == 'profile-password' %}selected{% endif %}">
        <a href="/home/password/">密码</a></span>
    <span class="tab {% if current_page == 'profile-delete' %}selected{% endif %}">
        <a href="/home/delete/">账号</a></span>
</div>
