{% extends "home_base.html" %}
{% block title %}{{ user.get_profile.screen_name }}关注的人{% endblock %}
{% block description %}这些人的动态正在被{{ user.get_profile.screen_name }}关注{% endblock %}
{% block h1 %}{{ user.get_profile.screen_name }}关注的人{% endblock %}
{% block home_tabs %}
    <div class="tabs">
        <span class="tab selected">
            <a href="/home/{{ user.id }}/follows/">关注</a></span>
        <span class="tab">
            <a href="/home/{{ user.id }}/fans/">Fans</a></span>
    </div>
{% endblock %}
{% block main %}
{% load accounts_tags %}
    <ul class="friend">
    {% for follow in follows %}
        <li>
            <a href="/home/{{ follow.target_user.id }}/"
               title="{{ follow.target_user.get_profile.screen_name }}({{ follow.target_user.get_profile.city }})"
               target="_blank">
                <img src="/static/user/icon_{{ follow.target_user.get_profile.photo|default:"none.jpg" }}">
                <em>{{ follow.target_user.get_profile.screen_name }}</em>
            </a>
        </li>

    {% endfor %}
    </ul>
{% endblock %}
{% block sidebar %}
{% endblock %}