{% load accounts_tags %}
{% load home_tags %}
<ul class="user">
    <h2>最近来访(TOP{{ count }})</h2>
    {% for visitor in visitors %}
        <li>
            <a href="/home/{{ visitor.visitor.id }}/"
               title="{{ visitor.visitor.get_profile.screen_name }} 在 {{ visitor.sub_time|how_long }}">
                <img src="{{ visitor.visitor.username|gravatar_url }}">
                <em>{{ visitor.visitor.get_profile.screen_name }}</em>
            </a>
        </li>
    {% empty %}
        <span class="dark">暂时还没有访客</span>
    {% endfor %}
</ul>
