{% extends 'home_base.html' %}
{% block title %}修改密码{% endblock %}
{% block h1 %}修改密码{% endblock %}
{% block home_tabs %}{% include 'home_edit_tabs.inc.html' %}{% endblock %}
{% block main %}
    <form action="" method="POST">
        <table id="change_password" width="100%">
            <p><label>原密码:</label><input name="raw_password" type="password" style="width:220px;"></p>
            <p><label>新密码:</lable><input name="new_password1" type="password" style="width:220px;"></p>
            <p><label>新密码:</lable><input name="new_password2" type="password" style="width:220px;">再输入一次新密码</p>
            <p class="submit"><input type="submit" value="确认修改密码" class="button" style="width:120px;"></p>

        {% csrf_token %}
        </table>
    </form>
{% endblock %}
{% block sidebar %}
    <div class="blank"></div>
<ul>
    <h2>密码设置规则</h2>
    <li>密码由数字或者字母组成 长度限制在6~30个字符以内<br>请务必牢记你更改后的新密码 如果忘记密码，请...</li>
</ul>
<ul>
    <li><a href="/home/edit/">返回个人设置</a> </li>
</ul>
{% endblock %}
