<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="/static/reader/css/normalize.css">
        <link rel="stylesheet" href="/static/reader/css/main.css">
        <link rel="stylesheet" href="/static/reader/css/popup.css">

        <script src="/static/reader/js/libs/jquery-1.9.0.min.js"></script>

        <script src="/static/reader/js/libs/zip.min.js"></script>
        <script src="/static/reader/js/UA-29512090-2.js"></script>    


        <script>
            "use strict";
            
            document.onreadystatechange = function () {
              if (document.readyState == "complete") {
                EPUBJS.VERSION = "0.1.6";
                
                EPUBJS.filePath = "/static/reader/js/libs/";
                EPUBJS.cssPath = "/static/reader/css/";
                fileStorage.filePath = EPUBJS.filePath;

                EPUBJSR.app.init("{% autoescape off %}{{ epub_path }}{% endautoescape %}");
              }  
            };
        
        </script>
                
        <!-- Render -->
        <script src="/static/reader/js/epub.min.js"></script>
        
        <!-- Hooks -->
        <script async src="/static/reader/js/hooks.min.js"></script>
        
        <!-- Reader -->
        <script src="/static/reader/js/reader.min.js"></script>
        
        <!-- fileStorage -->
        <script src="/static/reader/js/libs/fileStorage.min.js"></script>
        
    </head>
    <body>
        <div id="sidebar">
          <div id="controls">
            
            <!-- <input id="search" placeholder="search"> -->
            <!-- <a id="network"><img id="store" src="/static/reader/img/save.png"></a>
            <a id="setting"><img id="settings" src="/static/reader/img/settings.png"></a>
            <a id="bookmark"><img id="bookmarks" src="/static/reader/img/star.png"></a> -->
          </div>
          <div id="toc">
          </div>
          <div id="settingsPanel">
          </div>
            
        </div>
        <div id="main">
          <div id="opener">
            <a id="open"><img src="/static/reader/img/menu-icon.png"></a>
          </div>
          <div id="titlebar">
            <span id="book-title"></span>
            <span id="title-seperator">&nbsp;&nbsp;–&nbsp;&nbsp;</span>
            <span id="chapter-title"> </span>
          </div>
          <div id="divider"></div>
          <div id="prev" class="arrow">‹</div>
          <div id="area"></div>
          <div id="next" class="arrow">›</div>
          <div id="loader"><img src="/static/reader/img/loader.gif"></div>
        </div>
    </body>
</html>
